a, * {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

div.row {
    height: 100vh;
}

div.logo__sign_in img {
    max-width: 100%;
    width: 3rem;
}

div.logo__sign_in a {
    background-color: white;
    border: 1px solid #f6735d;
    border-radius: .40rem;
    color: #f6735d;
    font-size: 12px;
    transition: 0.15s linear;
}

div.logo__sign_in a:hover {
    background-color: #f6735d;
    color: white;
}

div.create_account {
    margin-top: 6rem;
}

div.create_account p {
    font-size: 12px;
    color: gray;
}

div.create_account h2 {
    color: #1a2e35;
    font-weight: 700;
}

div.form_login {
    margin-bottom: 6rem;
}

div.form_login form div {
    margin-bottom: 1rem;
}

div.form_login form input {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: .40rem;
    font-size: 14px;
}

div.form_login form input::placeholder {
    color: gray;
    opacity: 0.5;
}

div form input:focus {
    outline: none;
    border: 1px solid rgb(58, 58, 58);
}

button.btn_sign_up {
    background-color: #f6735d;
    border: none;
    color: white;
    border-radius: .40rem;
    font-size: 14px;
    transition: 0.15s linear;
}

button.btn_sign_up:hover {
    background-color: #ff4c2c;
}

a.btn_sign_up_google {
    background-color: white;
    text-align: center;
    border: 1px solid #f6735d;
    color: #f6735d;
    border-radius: .40rem;
    font-size: 14px;
    transition: 0.15s linear;
}

a.btn_sign_up_google:hover {
    background-color: #f6735d;
    color: white;
}

div.already_acount p {
    font-size: 12px;
    color: gray;
}

div.already_acount p a {
    color: #f6735d;
}

div.section-2 img {
    width: 100%;
}